/CSharpBasic/obj
/CSharpBasic/bin
/CSharpBasicConsole/obj
/CSharpBasicConsole/bin
/WindowsFormsApp/bin
/WindowsFormsApp/obj
/.vs/CSharpBasic/FileContentIndex
/.vs/CSharpBasic/v17
/.vs/ProjectEvaluation
